<h1 class="heading">User login</h1>
<form #loginForm="ngForm">
  <mat-card class="card flex-container">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        ngModel
        matInput
        name="username"
        placeholder="Type your Username"
        (blur)="updateUsername($event.target.value)"
        type="text"
        required
        #username="ngModel"
      />
    </mat-form-field>
    <p *ngIf="username.invalid && username.touched" class="error-msg">
      Required field
    </p>

    <!-- (!) This other way can be used to use validations such as minlength or more -->
    <!-- <div *ngIf="username.invalid && username.touched">
      <p *ngIf="username.errors.required" class="error-msg">
        Required field
      </p>
    </div> -->

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        ngModel
        type="password"
        name="password"
        (blur)="updatePassword($event.target.value)"
        placeholder="Type your password"
        required
        #password="ngModel"
      />
    </mat-form-field>
    <p *ngIf="password.invalid && password.touched" class="error-msg">
      Required field
    </p>
  </mat-card>
  <button
    mat-raised-button
    [disabled]="loginForm.invalid"
    class="submit-btn"
    color="primary"
    (click)="this.authService.login(username.value, password.value)"
  >
    Login
  </button>
</form>
