<h1 class="heading">Gallery</h1>
<main class="main-container">
  <mat-card class="gallery-container">
    <div class="img-container">
      <img
        class="main-img scale-{{ currentScale }}"
        src="{{ currentPicture.src }}"
        alt=""
      />
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="btn-container">
      <button mat-raised-button color="primary">
        Previous
      </button>
      <button mat-raised-button color="primary">
        Next
      </button>
      <button
        mat-raised-button
        color="basic"
        (click)="zoomIn()"
        *ngIf="currentScale < 5"
      >
        Zoom in
      </button>
      <button
        mat-raised-button
        *ngIf="currentScale === 5"
        disabled
        (click)="zoomOut()"
      >
        Zoom in
      </button>
      <button
        mat-raised-button
        color="basic"
        (click)="zoomOut()"
        *ngIf="currentScale > 1"
      >
        Zoom out
      </button>
      <button
        mat-raised-button
        color="basic"
        (click)="zoomOut()"
        *ngIf="currentScale === 1"
        disabled
      >
        Zoom out
      </button>
      <button mat-raised-button color="warn">
        Play
      </button>
      <!-- <button mat-raised-button color="warn" (click)="logOut()">
        Stop
      </button> -->
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="img-gallery-container">
      <img
        *ngFor="let picture of pictureList"
        class="pag-img"
        src="{{ picture.src }}"
        alt="{{ picture.title }}"
      />
    </div>
  </mat-card>
</main>
