.content {
  min-height: calc(100vh - 82px - 132px);
}

.heading {
  width: max-content;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 6px;
  color: #3f51b5;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  border-bottom: 1px solid #424242;
}
