<nav class="navbar">
  <app-logo></app-logo>
  <ul class="list">
    <li>
      <a mat-button routerLinkActive="selected" routerLink="/profile"
        >Profile</a
      >
    </li>
    <li>
      <a mat-button routerLinkActive="selected" routerLink="/crud">Crud</a>
    </li>
    <li>
      <a mat-button routerLinkActive="selected" routerLink="/dashboard"
        >Dashboard</a
      >
    </li>
    <li>
      <a mat-button routerLinkActive="selected" routerLink="/gallery"
        >gallery</a
      >
    </li>
  </ul>
  <button mat-raised-button color="secondary" (click)="logOut()">
    Log out
  </button>
</nav>
